html{
    background:#dddddd;
    font-family: Arial, sans-serif;
}
h1, h2{
    color:#777f88;
    text-align: center;
}
body{
    background: #ffffff;
    max-width:700px;
    margin:20px auto;
    padding:20px;
    border:1px solid #eeeeee;
}
select{
    max-width: 700px;
}
.sobre{
    float:right;
    margin-top: 20px;
}
.sobre a{
    color:#8888aa;
}
